
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <a href="~/Nation/Index" class="btn btn-success">Back</a>
    </div>
    <div class="card-body">
        <div class="col-lg-7">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Create Nation!</h1>
                </div>
                @using (Html.BeginForm("Create", "Nation", FormMethod.Post))
                {
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <input type="text" class="form-control form-control-user" name="NationId" id="NationId"
                                   placeholder="NationId">
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control form-control-user" name="NationName" id="NationName"
                                   placeholder="NationName">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0">
                            <input type="text" class="form-control form-control-user"
                                   name="isActive" id="isActive" placeholder="isActive">
                        </div>

                    </div>
                    <button class="btn btn-primary" type="submit">Add Nation</button>
                    <hr>
                }

                <hr>

            </div>
        </div>
    </div>
</div>